# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\goAcademy\dz13\wallet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
